body{
    background-color: RGB(243, 234, 227);
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    display:flex;
    background-color:#fff;
    margin:0;
    padding:0;
    margin-top:10vh;
}
.image{
    background-image:url('../images/image-product-desktop.jpg');
    background-position:center;
    background-size:100%;
    width:450px;
}
.features{
    display:inline-block;
    width:350px;
    padding-right:50px;
}
.features_in{
    display:flex;
    flex-direction:column;
    margin-left:30px;

}
.litle_title{
    color: rgb(160, 162, 175);
    text-transform: uppercase;
    letter-spacing: 5px;

    
}
.title{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size:16px;
    margin-top:-30px;
}

.description{
    color: RGB(141, 142, 149);
    line-height: 25px;
    margin-bottom:25px;
}
.price{
    display:flex;
    justify-content:left;
    align-items:center;
}
.price .promotion_price{
    font-size:30px;
    font-family:'Oswald';
    font-weight:600;
    color: rgb(60, 129, 104);
    margin-right:30px;
}
.price .real_price{
    color: RGB(141, 142, 149);
    text-decoration:line-through;
}
.buttom{
    background-color: rgb(60, 129, 104);
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
    color:white;
    padding:15px;
    margin-top:20px;
    margin-bottom:30px;
}
.buttom img{
    margin-right:15px;
}
.buttom:hover{
    background-color: rgb(26, 64, 49);
}



@media (min-width:374px) and (max-width:1023px){

    body{
        margin-left:30px;
    }
    .container{
        flex-direction:column;
        
    }
    .image{
        background-image:url('../images/image-product-mobile.jpg');
        height:400px;
        background-size:cover;
    }
    .title{
        font-size: 21px;
    }
    .description{
        font-size:25px;
        line-height: normal;
    }
    .price .promotion_price{
        font-size:50px; 

    }
    .buttom{
        font-size:25px;
    }
}